
<div class="left">

<table>
    <tr>
        <td class="colLeft">Opportunity:</td>
        <td class="colRight"><input size="20" /></td>
    </tr>
    <tr>
        <td class="colLeft">Client:</td>
        <td class="colRight"><input size="20" /></td>
    </tr>
</table>
    

</div>

<div class="right">

<table>
    <tr>
        <td class="colLeft">статус OPP</td>
        <td class="colRight">проект</td>
    </tr>
    <tr>
        <td class="colLeft">доход разово</td>
        <td class="colRight">19 200 р.</td>
    </tr>
    <tr>
        <td class="colLeft">доход ежемесячно</td>
        <td class="colRight">140 000 р.</td>
    </tr>
    <tr>
        <td class="colLeft">срок контракта</td>
        <td class="colRight">1 год</td>
    </tr>
    <tr>
        <td class="colLeft">тип алгоритма</td>
        <td class="colRight"> single</td>
    </tr>
</table>

 <div class="info-buttons">
    <button>Сохранить</button>
    <button>Расчет</button>
</div>

</div>


